
.App {
  text-align: center;
  font-family: "Lato";
  position:relative;
 
}
.loginBoxApp{
position:absolute;
top:50px;
right:50px;
z-index: 0;
}
.background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./imgs/computerBG.png");
  background-size: cover;
  background-position: center;
  background-repeat:"no-repeat";
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mainContainer{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  margin-top:50px;
  /* background-image:url("./imgs/brickBG.png");
  background-size: cover;
  background-position: center;
  background-repeat:"no-repeat"; */
  justify-content:space-around;
  background-color: #73c39e;
}
.mainContainerHome{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  margin-top:50px;
 
  justify-content:center;
}


.introContainer{
  width:100%;
  position:absolute;
  top:10%;
  
 

}



/* Navigation bar  */
.nav{
  list-style-type: none;
  color:#F8D073;
  
}

.navList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:40px;
  font-size:larger;
  color:#F8D073;
 
  
}

nav{
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  z-index: 2; 
  background-color: black;
  width:100%;
  height:50px;
  color:#F8D073;
  
  
}


/* Navigation  */
.navList{
  font-weight:400;
  padding:5px;
  margin:0;
  
}

h1{
  font-family:"Wix Madefor Display";
  font-weight:600;
}


@keyframes blink {
  from { border-color: transparent }
  to { border-color: #FDBBBF; }
}
.container{
  display: inline-block;
}

/* Name */
.headerName{
 
  font-size: 2.2rem;
  font-family:"Wix Madefor Display";
  font-weight:800;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
  text-align: center;
  color:#5A3A81;
 
}



/* Sticky Note */
.eyes{
  
  z-index: 2; 
  width:50%;
  margin-bottom:15% ;
  margin-top:10px;
  margin-right:auto;
  margin-left:auto;
}

.eyes2{
  width:200px;
}

 .intro{
  width:100%;
} 



/* contact */
.contact{
  display: flex;
  flex-direction:column;
  justify-content:center;
  position:absolute;
  bottom:37%;
  left:15%;
  width:70%;
  align-items:center;
  z-index: 3; 
  padding-top:20px;
  
 
}

.con1{
  display:flex;
  flex-direction:row;
  
}
.con2{
  display:flex;
  flex-direction:row;
  width:80%;
  

}
.con3{
  display:flex;
  flex-direction:row;
}

.stickerBox{
  margin-top:30px;
  width:30%;
}
.gum{
  width:35%;
  align-self:flex-end;

}
.yummy{
  width:60%;
}
.contactImgBox{
  width:20%;
}

.sticker{
  width:80%;
}
.contactImg{
  width:90%;
  border-radius:10px;
  border: 7px solid #A69BD1;
  margin-left:0px;

}

.contactWords{
  width:35%;
  font-size:2.0rem;
  margin-left:0;
  margin-bottom:5%;
  text-align: center;

}
a{
  font-size: 1.5rem;
 
}
a:link{
  color:#cbc9f0;
}
a:visited{
   color:white;
}
a:hover{
  color:#73c39e;
}
a:active{
  color:#ed816a;
}

a.contactLink:visited{
  color:#73c39e;
}
a.contactLink:link{
  color:#ed816a;
}
.contactLink{
  font-weight:bold;
}
@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.hoverShake:hover{
  animation:tilt-n-move-shaking 0.25s infinite;
}
.gumball{
  width:40%;
  
}
.conName{
 color: #7F6296; 
 font-size: 3rem;
 font-family: 'Indie Flower';
}



/* button */
.submit{
  font-size:1.5rem;
  margin-top:5px;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:50%;
  background-color:#73c39e;
  color:white;
  border-radius:20px;
}
.adminButtons{
  font-size:1.5rem;
  /* margin-top:5px; */
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  /* margin-bottom:20%; */
  background-color:#73c39e;
  color:white;
  border-radius:20px;
}
.blogBtn{
  font-size:1.5rem;
  /* margin-top:5px; */
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  /* margin-bottom:20%; */
  background-color:#ed816a;
  color:white;
  border-radius:20px;
}
.blogBtnBox{
  align-self: flex-start;
  margin-left:20px;
  position:absolute;
  top:200px;
  z-index: 4;
}
.blogEntryForm{
  position:absolute;
  top:100px;
  left:33%;
}
.blogCard{
  width:300px;
  height:500px;
  background-color:#F8D073;
  border:10px solid #A69BD1;
  border-radius: 50px;
  display:flex;
  flex-direction:column;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;

}

.assignments{
  display:flex;
  flex-wrap: wrap;
  position:absolute;
  top:100px;
}
.seeAssignments{
  font-size:1.2rem;
 
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  
  margin-top: 10%;
  background-color:#A69BD1;
  color:white;
  border-radius:20px;
}

/* assignment images */
.assignImg{
  width:80%;
}
.imgBoxAssign{
  border:4px bold black;
}

/* input */
.input{
  font-size: 2.0rem;
}
/* Flip Card */

.pageContent{
  width:100%;
  /* background-image:url("./imgs/brickBG.png");
  background-size: cover;
  background-position: center;
  background-repeat:"no-repeat"; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  position:absolute;
  top:38%;
  
}
.pageBlogContent{
  width:100%;
  height:100%;
  /* background-image:url("./imgs/brickBG.png");
  background-size: cover;
  background-position: center;
  background-repeat:"no-repeat"; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  position:absolute;
  top:10%;
  
}

.flipContainer{
  margin-top:50px;
  width:80%;
  /* height:80%; */
  /* display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap; */
}

.flipOverlay{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap; 
  /* background-color: rgba(103,78,129,.75);  */
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
 margin-right:auto;
 margin-left:auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  border-radius:50px;
  margin:20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius:50px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  

}



/* Style the back side */
.flip-card-back {
 
  color: white;
  transform: rotateY(180deg);
}
.loginBox{
  font-size:2.2rem;
  align-self: center;
  margin-bottom:20%;
  
}
/* Blog */

.introWelcome{
  width:90%;
  background-color: #73c39e;
  border-radius:50px;
  /* align-self:flex-start; */
  color:white;
  margin-right:auto;
  margin-left:auto;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
  padding:20px;
  padding-left:0;


}
.introWelPic{
  width:30%;
}
.introFeatPic{
  width:50%;
  border-radius:50px;
}

.blogAffirmation{
  color: #7F6296; 
 font-size: 2rem;
 font-family: 'Indie Flower'
}

/* date */
.date{
  position:absolute;
  top:20%;
  left:25%;
}

.assignmentCard{
  width:300px;
  background-color:#A69BD1;
  margin-bottom:10%;
  padding:20px;
  border-radius:50px;
  margin-left:20px;
  height:600px;
  
 }

@media only screen and (max-width: 600px) {
  body {
    background-color: #F1E8E5;
    text-align:center;
  }
  .headerName{
 
    font-size: 2.5rem;
    font-family:"Wix Madefor Display";
    font-weight:900;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
    color:#5A3A81;
    width:100%;
   
  }
  .background-image{
    /* position: absolute; */
    top: 0%;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("./imgs/computerBG.png");
    text-align:center;
    z-index: 1;
    background-size:contain;
    background-repeat:no-repeat;
  }
    .eyes{
  
      z-index: 3; 
      width:50%;
      position:absolute;
      top: 52%;
      left:40%;
      transform: translate(-50%, -50%); 
    }
    
    .eyes2{
      width:100px;
    }
    .typing{
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; 
      text-align: center;
      font-size:1.2rem
    }
    nav{
      position: absolute;
      top: 0%;
      left: 0%;
      /* transform: translate(-50%, -50%); */
      z-index: 2; 
      background-color:  black;
      width:100%;
      height:50px;
      
      
    }

   
   
  }
